.004184text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: 004184;
}
.whitetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.whitesitename {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}
.whitetextheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.FFDE00text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: FFDE00;
}
.2A2A2Aheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: oblique;
	font-weight: bold;
	color: 2A2A2A;
}
.2A2A2Atext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: 2A2A2A;
}
.whiteheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: oblique;
	font-weight: bold;
	color: #FFFFFF;
}
.FFDE00textheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: FFDE00;
}
