<STYLE TYPE="text/css">

td { 
    margin: 0px; 
    font-family: Arial, Helvetica, sans; 
    font-size: 11px; 
    color:#FFFFFF;
    }

a:link { 
    font-family:Georgia;
	color: #8A4242;
    
	}
a:visited { 
    font-family:Georgia;
   	color: #898856;
	}
a:hover { 
    font-family:Georgia;
    color: #ACA08A;
	}
a:active {
    font-family:Georgia;
    color: #8E8F56;
	}


.top a:link { 
    font-family: Georgia;
    color: #464f56;
	}
.top a:visited { 
    font-family:Georgia;
    font-size:11px;
    color: #464f56;
	}
.top a:hover { 
    font-family:Georgia;
    font-size:11px;
    color: #3aab31;
	}
.top a:active {
    font-family:Georgia;
    font-size:11px;
    color: #146e0d;
	}


.navigation a:link {
    font-family:Georgia, "Times New Roman", Times, serif;
    color: #FFFFFF;
    font-size:11px;
    text-decoration: none;
    font-weight: bold

	}
.navigation a:visited {
    font-family:tahoma;
    color: #FFFFFF;
    font-size:11px;
    text-decoration: none;
    font-weight: bold
	}
.navigation a:hover {
    font-family:Georgia;
    color: #FFFFFF;
    font-size:11px;
    text-decoration: underline;
    font-weight: bold
	}
.navigation a:active {
    font-family:Georgia;
    color: #FFFFFF;
    font-size:11px;
    text-decoration: underline;
    font-weight: bold
	}


.main {
    font-family:Georgia;
    font-size:11px;
    color:#FFFFFF;
        }

.bottom {
    font-family:Georgia;
    font-size:10px;
    color:#FFFFFF;
    font-weight: bold
        }

.headings {
    font-family:Georgia;
    font-size:18px;
    color:#000000;
        }

.logo1 {
    font-family:arial;
    font-size:21px;
    color:#4d95da;

        }

.logo2 {
    font-family:arial;
    font-size:21px;
    color:#2a9a1e;
        }

div.main {
    padding : 0px 15px 0px 15px;
        }

div.main2 {
    padding : 8px 15px 0px 15px;
        }

div.heading1 {
    padding : 15px 0px 0px 7px;
        }

div.logo {
    padding : 0px 11px 0px 15px;
        }

div.topb {
    padding : 0px 0px 0px 245px;
        }

		
.title {
	font-family: Georgia, Times, serif;
	color: #8A4242;
	font-size: 30px;
}
.style3 {
	font-family: Georgia, Times, serif;
//	color: #97886C;
	color: #746852;
	font-style:italic;
	font-size:12px;
	
}
.style7 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px; 
//	color: #97886C;
	color: #6D634E;
}
.style8 {
//	color: #97886C;
	color: #7E725A;
	font-size: 16px; 
}
.style9 {font-size: 16px}
.style10 {
	color: #8A4242;
	font-weight: bold;
}
.style11 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #8A4242;
	font-size: 16px;
	font-weight: bold;
}
.style12 {
	border-width:thick
	color: #8A4242
	}
.subsection {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #8A4242;
	font-size: 16px;
}
.titlegrey {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #6D634E;
	font-size: 22px;
}

.picbrd {
	border: thin solid #ACA08A;
}

.Body {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 16px; 
	color: #ACA08A; }.maintext14 {
//	color: #97886C;
	color: #675E49;
	font-size: 14px;
}
