.BarterBox
{
width:30%;
display:inline-block;
text-align:center;
border:1px solid;
border-radius:5px 5px 5px 5px;
border-color:#bbbbbb;
padding:0px;
background-color: #FFFFFF;
margin: 10px;
vertical-align:top;
}
.BarterBox2
{
width:30%;
display:inline-block;
text-align:center;
border:1px solid;
border-radius:5px 5px 5px 5px;
border-color:#0000ff;
padding:0px;
background-color:#d1d0fa;
margin: 10px;
vertical-align:top;
}
.BarterPrice
{
padding:2px 5px;
text-align:center;
font-family:'Open Sans', Arial, sans-serif;
font-size: 12px;
position:absolute;
border-radius:5px 5px 5px 5px;
background-color: white;
border:1px solid;
border-color:#bbbbbb;
}
.BarterPrice2
{
padding:2px 5px;
text-align:center;
font-family:'Open Sans', Arial, sans-serif;
font-size: 12px;
position:absolute;
border-radius:5px 5px 5px 5px;
color:blue;
background-color:white;
border:1px solid;
border-color:#bbbbbb;
}
.AdBox
{
width:92%;
display:inline-block;
text-align:center;
border:1px solid;
border-radius:5px 5px 5px 5px;
border-color:#bbbbbb;
padding:0px;
background-color: #FFFFFF;
margin: 3px;
vertical-align:top;
}
.AdBox2
{
width:92%;
display:inline-block;
text-align:center;
border:1px solid;
border-radius:5px 5px 5px 5px;
border-color:#0000ff;
padding:0px;
background-color:#d1d0fa;
margin: 3px;
vertical-align:top;
}
.AdPrice
{
padding:2px 5px;
text-align:center;
font-family:'Open Sans', Arial, sans-serif;
font-size: 12px;
position:absolute;
border-radius:5px 5px 5px 5px;
background-color: white;
border:1px solid;
border-color:#bbbbbb;
}
.AdPrice2
{
padding:2px 5px;
text-align:center;
font-family:'Open Sans', Arial, sans-serif;
font-size: 12px;
position:absolute;
border-radius:5px 5px 5px 5px;
color:blue;
background-color:white;
border:1px solid;
border-color:#bbbbbb;
}
