.Calendar
{
    COLOR: white;
    BACKGROUND-COLOR: #635237
}
.Weekday
{
    BACKGROUND-COLOR: #e0d2b9
}
.Weekend
{
    BACKGROUND-COLOR: #fff8e5
}
.Today
{
    BACKGROUND-COLOR: #bdad94
}
TD
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
A
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana;
    TEXT-ALIGN: center
}
.OtherMonths
{
    COLOR: #808080
}
.MonthYear
{
    COLOR: white;
    BACKGROUND-COLOR: #635237
}
