<STYLE >
BODY
{
    COLOR: black;
    FONT-FAMILY: 'Monotype Corsiva', Script
}
.TableStyle
{
    BORDER-RIGHT: medium none;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: medium none;
    BACKGROUND-IMAGE: url(Images/course_cert.jpg);
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
.Pinnacle
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 54pt;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: 'Monotype Corsiva', Script;
    FONT-STRETCH: condensed
}
.Achievement
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 44pt;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: 'Monotype Corsiva', Script;
    TEXT-DECORATION: none
}
.StudentName
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 36pt;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: 'Monotype Corsiva', Script;
    TEXT-DECORATION: none
}
.CourseName
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 30pt;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: 'Monotype Corsiva', Script;
    TEXT-DECORATION: none
}
.DateText
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 18pt;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: 'Monotype Corsiva', Script;
    TEXT-DECORATION: none
}
</STYLE>