.bartitle
{
    COLOR: #215DC6;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0pt;
    MARGIN-LEFT: 2pt;
    MARGIN-RIGHT: 0pt;
    MARGIN-TOP: 0pt;
    TEXT-ALIGN: justify;
}

.bartitlecenter
{
    COLOR: #215DC6;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0pt;
    MARGIN-LEFT: 2pt;
    MARGIN-RIGHT: 0pt;
    MARGIN-TOP: 0pt;
    TEXT-ALIGN: center;
}
.top
{
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 1px;
    MARGIN-RIGHT: 1px;
    MARGIN-TOP: 0px;
    TEXT-ALIGN: justify;
}

