#wrapper {
    WIDTH: 750px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapperMobile {
    WIDTH: 301px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper1200 {
    WIDTH: 1200px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
}    
#wrapper1000 {
    WIDTH: 1000px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
}
#wrapper900 {
    WIDTH: 900px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper800 {
    WIDTH: 800px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper750b {
    WIDTH: 1000px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
}
#wrapper750 {
    WIDTH: 770px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper650 {
    WIDTH: 670px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper600 {
    WIDTH: 620px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper400s {
    WIDTH: 420px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper400 {
    WIDTH: 400px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
}
INPUT[type=text]
{
  border-radius: 5px; 
}
INPUT[type=password]
{
  border-radius: 5px; 
}
INPUT[type=button]
{
  border-radius: 5px; 
}
INPUT[type=submit]
{
  border-radius: 5px; 
}
TEXTAREA
{
  border-radius: 5px; 
}
SELECT
{
  border-radius: 5px; 
}
.MenuTree
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
}
BODY
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Sans-Serif;
    TEXT-ALIGN: center;
}
A:link
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A
{
    COLOR: #000000
}
A:visited
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #000070;
    TEXT-DECORATION: none
}
A.NavBar
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.PageLink A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #004080;
    TEXT-DECORATION: underline;
     
}
.PageLink A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #004080;
    TEXT-DECORATION: underline;
     
}
.PageLink A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #004080;
    TEXT-DECORATION: underline;
     
}
.PageLink A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #004080;
    TEXT-DECORATION: underline;
     
}
.SelectLink A
{
    COLOR: #004080;
    TEXT-DECORATION: underline;
     
}
.SelectLink A:visited
{
    COLOR: #004080;
    TEXT-DECORATION: underline;
     
}
.SelectLink A:hover
{
    COLOR: #000070;
    TEXT-DECORATION: underline;
     
}
.CustNavGroup
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: gray;
     
}
.CustNavGroup TD
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #004080;
     
}
.CustNavItem A:hover
{
    FONT-WEIGHT: bold;
     
}
INPUT.redbutton
{
    COLOR: #FF0000;
}
INPUT.smbutton
{
    FONT-SIZE: 84%;
}
INPUT.lgbutton
{
    FONT-SIZE: 120%;
}
INPUT.bigbutton
{
    FONT-SIZE: 150%;
  border-radius: 15px; 
}
TD
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.NavBar
{
    FONT-WEIGHT: bold
}
.BigHeading
{
    FONT-SIZE: 18pt;
    COLOR: #000070
}
.MenuHeading
{
    FONT-SIZE: 12pt;
    COLOR: #000070
}
.FrameNoScroll
{
    overflow:hidden
}
.PageHeading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000070
}
.ReportHeading1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 24pt;
    COLOR: #000070
}
.ReportHeading2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt
}
.ReportHeading3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt
}
.ReportHeading4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt
}
.ReportFooter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt
}
.Copyright
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-STYLE: italic
}
.Button
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    TEXT-ALIGN: center
}
.AccentTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    COLOR: white;
    TEXT-DECORATION: none
}
.ColumnHeader
{
    FONT-WEIGHT: bold;
    COLOR: #000070
}
.ColumnTitle
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff! important;
    BACKGROUND-COLOR: #7589a6
}
.FindByColumn
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff! important;
    BACKGROUND-COLOR: #000070
}
.InputHeading
{
    FONT-SIZE: 7pt;
    COLOR: #000070
}
.DisplayText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000
}
.ParentLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000070
}
.PrevNext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000070
}
.PrevNextDisable
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #808080
}
.EndList
{
    FONT-WEIGHT: bold;
    COLOR: #000070
}
.NoItems
{
    COLOR: #000000;
    FONT-STYLE: italic;
    BACKGROUND-COLOR: #F0F0F0
}
.ItemCount
{
    COLOR: #000000;
    FONT-STYLE: italic
}
.GrayBox
{
    border:1px solid;
    border-radius:10px;
    border-color:#cccccc;
    padding:10px;
    BACKGROUND-COLOR: #FFFFFF
}
.GrayBar
{
    BACKGROUND-COLOR: #F0F0F0
}
.WhiteBar
{
    BACKGROUND-COLOR: #FFFFFF
}
.BlueBar
{
    BACKGROUND-COLOR: #E1F9FF
}
.YellowBar
{
    BACKGROUND-COLOR: #FDFFE1
}
.RedBar
{
    BACKGROUND-COLOR: #FFECEA
}
.GreenBar
{
    BACKGROUND-COLOR: #EBFFEA
}
.BoldText
{
    FONT-WEIGHT: bold
}
.DarkHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #004080
}
.DarkHeader TD
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #004080
}
.DarkHeader A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
     
}
.DarkHeader A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
     
}
.DarkHeader A:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
     
}
.PurpleTitle A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #004080;
    TEXT-DECORATION: none;
     
}
.PurpleTitle A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #004080;
    TEXT-DECORATION: none;
     
}
.PurpleTitle A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000070;
    TEXT-DECORATION: none;
     
}
.ProductTitlePurple
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #004080
}
.ProductTitleBlack
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000
}
.ScriptSmall
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000070;
    FONT-STYLE: italic;
    FONT-FAMILY: 'Georgia'
}
.ScriptMedium
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #004080;
    FONT-STYLE: italic;
    FONT-FAMILY: 'Georgia'
}
.ScriptLarge
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16pt;
    COLOR: #004080;
    FONT-STYLE: italic;
    FONT-FAMILY: 'Georgia'
}
.WarningSmall
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #ff0000
}
.Strike
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
    FONT-FAMILY: 'Georgia';
    TEXT-DECORATION: line-through
}
.Prompt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: 004080;
    FONT-FAMILY: 'Georgia'
}
H1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16pt;
    COLOR: #004080;
    FONT-FAMILY: Georgia
}
.PageLinkLarge
{
    FONT-SIZE: 16pt;
    COLOR: chocolate;
    TEXT-DECORATION: none
}
.SelectedTab
{
    COLOR: white;
    BACKGROUND-COLOR: #ffcc66
}
.UnselectedTab
{
    COLOR: black;
    BACKGROUND-COLOR: #faefd4
}

/*Begin Calendar Style Sheet*/

.dpDiv {
	}

.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: #ffcc00;
	border: 1px solid #AAAAAA;
	
	}

.dpTR {
	}

.dpTitleTR {
	}

.dpDayTR {
	
	}

.dpTodayButtonTR {
	}

.dpTD {
	cursor: pointer;
	}

.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	cursor: pointer;
	}

.dpTitleTD {
	}

.dpButtonTD {
	}

.dpTodayButtonTD {
	}

.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: gray;
	
	}

.dpTitleText {
	font-size: 9px;
	color: gray;
	font-weight: bold;
	}

.dpDayHighlight {
	color: 4060ff;
	font-weight: bold;
	}

.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}

.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	}
/*End Calendar StyleSheet*/

/* Tab Colors */
.over{color:#000000; background-color:#9D9DF9;font-family:Verdana;font-size:12px;}
.def{color:#000000; background-color:#D9D9FA;font-family:Verdana;font-size:12px;}
.curr{color:#000000; background-color:#C0C0FF;font-family:Verdana;font-size:12px;FONT-WEIGHT: bold;}

.Calendar {
	border-width: 1px;
	border-spacing: 1px;
	border-style: solid;
	border-color: #5084A2;
	border-collapse: collapse;
}
.CalendarDay {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #5084A2;
}
.tooltip 
{ 
  position: relative; 
  background: #eaeaea; 
  cursor: help; 
  display: inline-block; 
  text-decoration: none; 
  color: #222; 
  outline: none; 
} 
 
.tooltip span 
{ 
  visibility: hidden; 
  position: absolute; 
  bottom: 30px; 
  left: 50%; 
  z-index: 999; 
  /*width: 230px;*/ 
  margin-left: -127px; 
  //padding: 10px; 
  padding: 2px; 
  border: 2px solid #ccc; 
  //opacity: .9; 
  background-color: #ddd; 
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset; 
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset; 
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset; 
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
} 
 
.tooltip:hover 
{ 
  border: 0; /* IE6 fix */ 
} 
 
.tooltip:hover span 
{ 
  visibility: visible; 
} 
 
.tooltip span:before, 
.tooltip span:after 
{ 
  content: ""; 
  position: absolute; 
  z-index: 1000; 
  bottom: -11px; 
  left: 25%; 
  margin-left: -8px; 
  border-top: 8px solid #ddd; 
  border-left: 8px solid transparent; 
  border-right: 8px solid transparent; 
  border-bottom: 0; 
} 
 
.tooltip span:before 
{ 
  border-top-color: #ccc; 
  bottom: -11px; 
}

/* 9.2. GK Social
==================================== */

#gk-social-icons {
	float: right;
	margin-left: 24px;
}

.gk-facebook-icon,
.gk-twitter-icon,
.gk-gplus-icon,
.gk-pinterest-icon {
	display: block;
	float: left;
	height: 22px;
	line-height: 22px;
	padding: 0;
	text-indent: -9999px;
	-webkit-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear;
	   -moz-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear;
 	     -o-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear;
	        transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear;
	width: 28px;
}

.gk-facebook-icon {
	background: transparent url('../images/company/12/social_icons.png') no-repeat -28px 0;
}

.gk-twitter-icon {
	background: transparent url('../images/company/12/social_icons.png') no-repeat 0 0;
}

.gk-gplus-icon {
	background: transparent url('../images/company/12/social_icons.png') no-repeat -84px 0;
}

.gk-pinterest-icon {
	background: transparent url('../images/company/12/social_icons.png') no-repeat -56px 0;
}

.gk-facebook-icon:active,
.gk-facebook-icon:focus,
.gk-facebook-icon:hover {
	background: transparent url('../images/company/12/social_icons.png') no-repeat -28px -22px;
}

.gk-twitter-icon:active,
.gk-twitter-icon:focus,
.gk-twitter-icon:hover {
	background: transparent url('../images/company/12/social_icons.png') no-repeat 0 -22px;
}

.gk-gplus-icon:active,
.gk-gplus-icon:focus,
.gk-gplus-icon:hover {
	background: transparent url('../images/company/12/social_icons.png') no-repeat -84px -22px;
}

.gk-pinterest-icon:active,
.gk-pinterest-icon:focus,
.gk-pinterest-icon:hover {
	background: transparent url('../images/company/12/social_icons.png') no-repeat -56px -22px;
}

.gk-ns-image {
	-webkit-transform: scale(1.0);
	   -moz-transform: scale(1.0);
	    -ms-transform: scale(1.0);
	     -o-transform: scale(1.0);
	        transform: scale(1.0);
	display: block;
	-webkit-transition: -webkit-transform 0.15s linear;
	   -moz-transition:    -moz-transform 0.15s linear;
	     -o-transition:      -o-transform 0.15s linear;
	        transition:         transform 0.15s linear;
}

.gk-ns-image:hover {
	-webkit-transform: scale(1.15) rotate(-1.5deg);
	   -moz-transform: scale(1.15) rotate(-1.5deg);
	    -ms-transform: scale(1.15) rotate(-1.5deg);
	     -o-transform: scale(1.15) rotate(-1.5deg);
	        transform: scale(1.15) rotate(-1.5deg);
}

/* News Topic Boxes */

.NewsTopicContainer { 
    background-color: rgb(255, 255, 255); 
    -moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 0px 10px 10px 0px;
    height: 255px;
    width: 220px;
    float: left;
    display: inline;
}

.NewsTopicInnerContainer { 
    height: 250px;
    overflow: hidden;
}

.NewsTopicHeader { 
    background-color: rgb(103, 0, 0);
    background-image: -webkit-linear-gradient(to top, rgb(89, 8, 23), rgb(166, 0, 30));
    background-image: -moz-linear-gradient(to top, rgb(89, 8, 23), rgb(166, 0, 30));
    background-image: -ms-linear-gradient(to top, rgb(89, 8, 23), rgb(166, 0, 30));
    background-image: -o-linear-gradient(to top, rgb(89, 8, 23), rgb(166, 0, 30));
    background-image: linear-gradient(to top, rgb(89, 8, 23), rgb(166, 0, 30));
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: center;
    //width: 100%;
    padding: 6px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.NewsTopicHeader1 { 
    background: -webkit-linear-gradient(to bottom, rgb(89, 8, 23) 0px, rgb(166, 0, 30) 100%) repeat scroll 0% 0% transparent;
    background: -moz-linear-gradient(to bottom, rgb(89, 8, 23) 0px, rgb(166, 0, 30) 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, rgb(89, 8, 23) 0px, rgb(166, 0, 30) 100%) 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, rgb(89, 8, 23) 0px, rgb(166, 0, 30) 100%) repeat scroll 0% 0% transparent;
    background: linear-gradient(to bottom, rgb(89, 8, 23) 0px, rgb(166, 0, 30) 100%) repeat scroll 0% 0% transparent;
}

.NewsTopicHeader2 { 
    background: -webkit-linear-gradient(to bottom, rgb(255, 87, 34) 0px, rgb(180, 53, 12) 100%) repeat scroll 0% 0% transparent;
    background: -moz-linear-gradient(to bottom, rgb(255, 87, 34) 0px, rgb(180, 53, 12) 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, rgb(255, 87, 34) 0px, rgb(180, 53, 12) 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, rgb(255, 87, 34) 0px, rgb(180, 53, 12) 100%) repeat scroll 0% 0% transparent;
    background: linear-gradient(to bottom, rgb(255, 87, 34) 0px, rgb(180, 53, 12) 100%) repeat scroll 0% 0% transparent;
}

.NewsTopicHeader3 { 
    background: -webkit-linear-gradient(to bottom, rgb(9, 22, 27) 0px, rgb(13, 64, 80) 100%) repeat scroll 0% 0% transparent;
    background: -moz-linear-gradient(to bottom, rgb(9, 22, 27) 0px, rgb(13, 64, 80) 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, rgb(9, 22, 27) 0px, rgb(13, 64, 80) 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, rgb(9, 22, 27) 0px, rgb(13, 64, 80) 100%) repeat scroll 0% 0% transparent;
    background: linear-gradient(to bottom, rgb(9, 22, 27) 0px, rgb(13, 64, 80) 100%) repeat scroll 0% 0% transparent;
}

.NewsTopicHeader4 { 
    background: -webkit-linear-gradient(to bottom, rgb(46, 62, 13) 0px, rgb(119, 158, 37) 100%) repeat scroll 0% 0% transparent;
    background: -moz-linear-gradient(to bottom, rgb(46, 62, 13) 0px, rgb(119, 158, 37) 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, rgb(46, 62, 13) 0px, rgb(119, 158, 37) 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, rgb(46, 62, 13) 0px, rgb(119, 158, 37) 100%) repeat scroll 0% 0% transparent;
    background: linear-gradient(to bottom, rgb(46, 62, 13) 0px, rgb(119, 158, 37) 100%) repeat scroll 0% 0% transparent;
}

.NewsTopicHeader0 { 
    background: -webkit-linear-gradient(to bottom, rgb(27, 9, 35) 0px, rgb(66, 23, 84) 100%) repeat scroll 0% 0% transparent;
    background: -moz-linear-gradient(to bottom, rgb(27, 9, 35) 0px, rgb(66, 23, 84) 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, rgb(27, 9, 35) 0px, rgb(66, 23, 84) 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, rgb(27, 9, 35) 0px, rgb(66, 23, 84) 100%) repeat scroll 0% 0% transparent;
    background: linear-gradient(to bottom, rgb(27, 9, 35) 0px, rgb(66, 23, 84) 100%) repeat scroll 0% 0% transparent;
}

.NewsTopicNews { 
    margin: 9px 7px 0px 8px;
    padding: 0px;
}

.NewsTopicStory { 
    display: block;
    font-size: 10px;
    text-align: left;
    margin: 0px 0px 6px;
    padding: 0px;
    background-image: none;
    overflow: hidden;
}
.NewsTopicStory:hover { 
    background-color:f8cb82;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
 }
