/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700');

#wrapper {
    WIDTH: 750px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapperMobile {
    WIDTH: 100%;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper1200 {
    WIDTH: 1200px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
}    
#wrapper1000 {
    WIDTH: 1000px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1;
}
#wrapper-store {
    WIDTH: 1000px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
  position: relative; 
  display: inline-block; 
  padding: 10px; 
}

#wrapper1000light {
    WIDTH: 1000px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}

#wrapper1000white {
    WIDTH: 1000px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: white; 
  padding: 5px; 
}

#wrapper1000box {
    WIDTH: 1000px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: white; 
  padding: 5px; 
  border: 2px solid #ccc; 
}

#wrapper900box {
    WIDTH: 900px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: white; 
  padding: 5px; 
  border: 2px solid #ccc; 
}

#wrapper850box {
    WIDTH: 850px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: white; 
  padding: 5px; 
  border: 2px solid #ccc; 
}

#wrapper400box {
    WIDTH: 400px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: white; 
  padding: 5px; 
  border: 2px solid #ccc; 
}

#wrapper900 {
    WIDTH: 900px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper800 {
    WIDTH: 800px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper750b {
    WIDTH: 1000px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
}
#wrapper750 {
    WIDTH: 770px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper750blue {
    WIDTH: 770px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #dde6f9; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper750light {
    WIDTH: 770px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #ffffff; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper650 {
    WIDTH: 670px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper600 {
    WIDTH: 620px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper400s {
    WIDTH: 420px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
  position: relative; 
  display: inline-block; 
  background: #eaeaea; 
  padding: 5px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 

 box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
}
#wrapper400 {
    WIDTH: 400px;
    MARGIN: 0 auto;
    TEXT-ALIGN: center;
    Z-Index:-1
}
.box-gray {
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #f3f3f3;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=email],
input[type=password],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    border-radius: 5px; 
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
}
input[type=text]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
input[type="submit"],
input[type="button"]{
    padding: 4px 8px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    color: #FFF;
    background-color: #2199e8;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

input[type="submit"]:hover,
input[type="button"]:hover{
    color: #FFF;
    background-color: #1583cc;
    border-color: #1292e7;
}

.MenuTree
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
}
BODY
{
    COLOR: #666666;
	font-family:'Open Sans', Arial, sans-serif;
    TEXT-ALIGN: center;
}
A:link
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A
{
    COLOR: #000000
}
A:visited
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #000070;
    TEXT-DECORATION: none
}
A.NavBar
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.PageLink A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #004080;
    TEXT-DECORATION: underline;
}
.PageLink A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #004080;
    TEXT-DECORATION: underline;
}
.PageLink A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #004080;
    TEXT-DECORATION: underline;
}
.PageLink A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #004080;
    TEXT-DECORATION: underline;
}
.SelectLink A
{
    COLOR: #004080;
    TEXT-DECORATION: underline;
}
.SelectLink A:visited
{
    COLOR: #004080;
    TEXT-DECORATION: underline;
}
.SelectLink A:hover
{
    COLOR: #000070;
    TEXT-DECORATION: underline;
}
.CustNavGroup
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: gray;
}
.CustNavGroup TD
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #004080;
}
.CustNavItem A:hover
{
    FONT-WEIGHT: bold;
}
INPUT.redbutton
{
    COLOR: #FF0000;
}
INPUT.tinybutton
{
    font-size: 60%;
    padding: 0px;
}
INPUT.smbutton
{
    font-size: 80%;
    padding: 2px;
}
INPUT.lgbutton
{
    FONT-SIZE: 120%;
}
INPUT.bigbutton
{
    FONT-SIZE: 150%;
  border-radius: 10px; 
}
INPUT.hugebutton
{
    FONT-SIZE: 200%;
  border-radius: 10px; 
}
INPUT.bigtext
{
    FONT-SIZE: 150%;
    border-radius: 10px; 
}
SELECT.bigtext
{
    FONT-SIZE: 150%;
    border-radius: 5px; 
}
TD
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
	font-family:'Open Sans', Arial, sans-serif;
}
.NavBar
{
    FONT-WEIGHT: bold
}
.BigHeading
{
    FONT-SIZE: 18pt;
    COLOR: #000070
}
.MenuHeading
{
    FONT-SIZE: 12pt;
    COLOR: #000070
}
.PageHeading
{
    FONT-SIZE: 14pt;
    COLOR: #000070;
    BACKGROUND-COLOR: #d4d3d3;
    padding:5px 5px;
}
.PageHeader
{
    BACKGROUND-COLOR: #d4d3d3;
    padding:5px 5px;
}
.PageHeadingLite
{
    FONT-SIZE: 14pt;
    COLOR: #000070;
    BACKGROUND-COLOR: #f2f2f2;
    padding:5px 5px;
}
.PageHeaderLite
{
    BACKGROUND-COLOR: #f2f2f2;
    padding:5px 5px;
}
.FrameNoScroll
{
    overflow:hidden
}
.ReportHeading1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 24pt;
    COLOR: #000070
}
.ReportHeading2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt
}
.ReportHeading3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt
}
.ReportHeading4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt
}
.ReportFooter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt
}
.Copyright
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-STYLE: italic
}
.Button
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    TEXT-ALIGN: center
}
.AccentTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    COLOR: white;
    TEXT-DECORATION: none
}
.ColumnHeader
{
    FONT-WEIGHT: bold;
    COLOR: #000070
}
.ColumnTitle
{
    FONT-WEIGHT: bold;
    COLOR: #000000! important;
    BACKGROUND-COLOR: #f8f8f8
}
.FindByColumn
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff! important;
    BACKGROUND-COLOR: #000070
}
.InputHeading
{
    FONT-SIZE: 7pt;
    COLOR: #000070
}
.DisplayText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000
}
.ParentLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000070
}
.PrevNext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000070
}
.PrevNextDisable
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #808080
}
.EndList
{
    FONT-WEIGHT: bold;
    COLOR: #000070
}
.NoItems
{
    COLOR: #000000;
    FONT-STYLE: italic;
    BACKGROUND-COLOR: #F0F0F0
}
.ItemCount
{
    COLOR: #000000;
    FONT-STYLE: italic
}
.GrayBox
{
    border:1px solid;
    border-radius:10px;
    border-color:#cccccc;
    padding:10px;
    BACKGROUND-COLOR: #FFFFFF;
}
.GrayBar
{
    BACKGROUND-COLOR: #F0F0FF;
}
.WhiteBar
{
    BACKGROUND-COLOR: #FFFFFF;
}
.BlueBar
{
    BACKGROUND-COLOR: #E1F9FF;
}
.YellowBar
{
    BACKGROUND-COLOR: #FDFFE1;
}
.RedBar
{
    BACKGROUND-COLOR: #FFECEA;
}
.GreenBar
{
    BACKGROUND-COLOR: #EBFFEA;
}
.BoldText
{
    FONT-WEIGHT: bold;
}
.DarkHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #004080;
}
.DarkHeader TD
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #004080;
}
.DarkHeader A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
     
}
.DarkHeader A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
     
}
.DarkHeader A:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
     
}
.PurpleTitle A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #004080;
    TEXT-DECORATION: none;
     
}
.PurpleTitle A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #004080;
    TEXT-DECORATION: none;
     
}
.PurpleTitle A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000070;
    TEXT-DECORATION: none;
     
}
.ProductTitlePurple
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #004080;
}
.ProductTitleBlack
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000;
}
.ScriptSmall
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000070;
    FONT-STYLE: italic;
	font-family:'Open Sans', Arial, sans-serif;
}
.ScriptMedium
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #004080;
    FONT-STYLE: italic;
	font-family:'Open Sans', Arial, sans-serif;
}
.ScriptLarge
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16pt;
    COLOR: #004080;
    FONT-STYLE: italic;
	font-family:'Open Sans', Arial, sans-serif;
}
.WarningSmall
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #ff0000;
}
.Strike
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
	font-family:'Open Sans', Arial, sans-serif;
    TEXT-DECORATION: line-through;
}
.Prompt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: 004080;
	font-family:'Open Sans', Arial, sans-serif;
}
H1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16pt;
    COLOR: #004080;
	font-family:'Open Sans', Arial, sans-serif;
}
.PageLinkLarge
{
    FONT-SIZE: 16pt;
    COLOR: chocolate;
    TEXT-DECORATION: none;
}
.SelectedTab
{
    COLOR: white;
    BACKGROUND-COLOR: #ffcc66;
}
.UnselectedTab
{
    COLOR: black;
    BACKGROUND-COLOR: #faefd4;
}

/*Begin Calendar Style Sheet*/

.dpDiv {
	}

.dpTable {
	font-family:'Open Sans', Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: #ffcc00;
	border: 1px solid #AAAAAA;
	
	}

.dpTR {
	}

.dpTitleTR {
	}

.dpDayTR {
	
	}

.dpTodayButtonTR {
	}

.dpTD {
	cursor: pointer;
	}

.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	cursor: pointer;
	}

.dpTitleTD {
	}

.dpButtonTD {
	}

.dpTodayButtonTD {
	}

.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: gray;
	}

.dpTitleText {
	font-size: 9px;
	color: gray;
	font-weight: bold;
	}

.dpDayHighlight {
	color: 4060ff;
	font-weight: bold;
	}

.dpButton {
	font-family:'Open Sans', Arial, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}

.dpTodayButton {
	font-family:'Open Sans', Arial, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	}
/*End Calendar StyleSheet*/

/* Tab Colors */
.over{color:#000000; background-color:#9D9DF9;	font-family:'Open Sans', Arial, sans-serif;font-size:12px;}
.def{color:#000000; background-color:#D9D9FA;	font-family:'Open Sans', Arial, sans-serif;font-size:12px;}
.curr{color:#000000; background-color:#C0C0FF;	font-family:'Open Sans', Arial, sans-serif;FONT-WEIGHT: bold;}

.Calendar {
	border-width: 1px;
	border-spacing: 1px;
	border-style: solid;
	border-color: #5084A2;
	border-collapse: collapse;
}
.CalendarDay {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #5084A2;
}
.tooltip 
{ 
  position: relative; 
  background: #eaeaea; 
  cursor: help; 
  display: inline-block; 
  text-decoration: none; 
  color: #222; 
  outline: none; 
} 
 
.tooltip span 
{ 
  visibility: hidden; 
  position: absolute; 
  bottom: 30px; 
  left: 50%; 
  z-index: 999; 
  /*width: 230px;*/ 
  margin-left: -127px; 
  //padding: 10px; 
  padding: 2px; 
  border: 2px solid #ccc; 
  //opacity: .9; 
  background-color: #ddd; 
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset; 
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset; 
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset; 
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
} 
 
.tooltip:hover 
{ 
  border: 0; /* IE6 fix */ 
} 
 
.tooltip:hover span 
{ 
  visibility: visible; 
} 
 
.tooltip span:before, 
.tooltip span:after 
{ 
  content: ""; 
  position: absolute; 
  z-index: 1000; 
  bottom: -11px; 
  left: 25%; 
  margin-left: -8px; 
  border-top: 8px solid #ddd; 
  border-left: 8px solid transparent; 
  border-right: 8px solid transparent; 
  border-bottom: 0; 
} 
 
.tooltip span:before 
{ 
  border-top-color: #ccc; 
  bottom: -11px; 
}